*{
  box-sizing: border-box;
}
.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.text-node-wrapper {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  min-height: 150px;
  border-radius: 5px 5px 5px 5px;
  background: white;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.text-node-wrapper .text-node-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #B3F0E4;
  padding: 5px;
  gap: 5px;
}

.text-node-wrapper .text-node-content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: white;
  font-size: 12px;
  padding: 5px;
}

.flow-panel{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.flow-panel .flow-node-panel .node-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 150px;
  padding: 5px;
  border: 3px solid #C0BED5;
  border-radius: 10px;
}

.flow-provider {
  display: flex;
  flex-direction: row;
}

.settings-panel-wrapper .settings-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings-panel-wrapper .settings-panel-content{
  display: flex;
  flex-direction: column;
}

.settings-panel-wrapper .settings-panel-content p{
  text-align: left;
  color: #BBBBBB;
}

.header{
  height: 50px;
  width: 100vw;
  background: #F3F3F3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header .save-btn-wrapper button{
 height: 30px;
 width: 180px;
 text-align: center;
 color: #4B548C;
 font-size: 16px;
 font-weight: 500;
 border: 1px solid #C6C7CD;
 border-radius: 5px;
 background: #FFFFFE;
 cursor: pointer;
}
.header .save-btn-wrapper button:hover{
  box-shadow: #4462a2 0px 2px 4px 0px, #4462a2 0px 2px 16px 0px;
}
.header .error-toast-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .error-toast-wrapper .error-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
 width: 180px;
 text-align: center;
 color: #382A2D;
 font-size: 16px;
 font-weight: 500;
 border-radius: 5px;
 background: #FCCDCB;
}